/* 
.Login{
  display: flex;
    width: 100vw;
    height: 100vh;
    padding: 0;
    text-align: center;
    background: url(./../../images/aviaobackground.jpg) no-repeat bottom center scroll;
    background-position: 30% 45%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: white;

}

#panel-left{
  background-color: var(--color-background);
  position: absolute;
  text-align: left;
  height: 100vh;
  width: 50%;
}

.form-div{
    margin: 10px auto 0 auto;
    width: 50%;
}

.form-label{
    font-size: 1.2rem;
}

#spinner-esqueci-senha{
    display:none;
    margin: 0 .3rem 0 0;
}

#foto-perf{
    margin: 3rem auto 1rem auto;
}

@media (max-width: 700px){
    :root{
        font-size: 80.5%;
    }

    #panel-left{
        text-align: left;
        width: 100vw;
    }
    .form-div{
        margin-top:7vh;
    }
} */


#login{
      height: 100vh;
      background: url(./../../images/aviaobackground.jpg) no-repeat bottom center scroll;
      background-position: 30% 45%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
      color:white;
}

#col-form-login{
    height: 100vh;
    background-color: var(--color-background);
}

#col-form-login Form{
    margin: 1.5rem auto 0 auto;
    font-size: 1.1rem;
    width: 60%;

}

#foto-perf{
    margin: 2rem auto 0 auto;
}
#email, #senha{
    margin-bottom: 1.5rem;
}
#btn-submit{
    margin-bottom: .3rem;
}
#msgLogin, #conectado, .form-check-label{
    font-size: 1rem;
}
#spinner-esqueci-senha{
    margin-right: .4rem;
}
@media (max-width: 700px){
    :root{
        font-size: 80.5%;
    }
}