
.Login{
  display: flex;
    width: 100vw;
    height: 100vh;
    padding: 0;
    text-align: center;
    background: url(./../../images/aviaobackground.jpg) no-repeat bottom center scroll;
    background-position: 30% 45%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: white;

}

#panel-left{
  background-color: var(--color-background);
  position: absolute;
  text-align: left;
  height: 100vh;
  width: 50%;
}

.form-div{
    margin: 10px auto 0 auto;
    width: 50%;
}

.form-label{
    font-size: 1.2rem;
}

#spinner-esqueci-senha{
    display:none;
    margin: 0 .3rem 0 0;
}

@media (max-width: 700px){
    :root{
        font-size: 80.5%;
    }

    #panel-left{
        text-align: left;
        width: 100vw;
    }
    .form-div{
        margin-top:7vh;
    }
}