
#header{
  background-color: var(--color-background);
}

#body{
    background: url(./../../images/aviaobackground.jpg) no-repeat bottom center scroll;
    width: 100vw;
    height: 94vh;
    padding: 0;
    background-position: 30% 45%;
    background-size: cover;
}

#div-body{
    display: flex;    
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
    position: relative;
}
#navbar-col {
    padding: 0;
    font-size: 1.3rem;
}
#menu-container{
    padding: 0 ;
    height: 100%;
}
#menu-nav{
    height: 100%;
    width: 100%;
    justify-content:flex-start;
}

#menu-nav>a{
    flex:none;
}
#navbar {
    height: 100%;
}
#home-nav{
    margin-top: 2.5rem;
}
#logout-nav{
}
 

@media (max-width: 700px){
    :root{
        font-size: 80.5%;
    }

    #navbar-col{
        line-height: 2.5rem;
        font-size: 1.5rem;
    }
    .nav-link span{
        display: none;
    }

    #logout-nav{
    }
}



