#row-header{
    height: 7vh;
    background-color: var(--color-background);
}
#row-body{
    background: url(./../../images/aviaobackground.jpg) no-repeat bottom center scroll;
    background-position: 30% 45%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color:white;
    height: 93vh;
}
#col-body{
    background-color: var(--color-background);
}
#col-navbar{
    font-size: 1.4rem;
    padding: 2rem 2rem;
    margin: 0;
    background-color: #212529;
}
#col-navbar a{
    color: #c4c5c6;
    transition: .3s;
    margin-bottom: .1rem;
}
#col-navbar a:hover{
    color:white;
}

@media (max-width: 768px){
    :root{
        font-size: 90%;
    }
    #col-navbar{
        padding: 2rem 0;
    }
    #col-navbar a{
        text-align: center;
    }
    #col-navbar a span{
        display: none;
    }
}