
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100% ; 
}
header>h4{
    display: inline;
    text-align: center;
    color: white;
    margin: auto 0 auto 0;
    
}

#logo-header{
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 1rem 0 0;
}

